{% extends "bootstrap/base.html" %}
{% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Truth or Dare</title>
    {{ super() }}
       <link href="../static/css/bootstrap.min.css" rel="stylesheet">
       <link href="../static/css/metisMenu.min.css" rel="stylesheet">
       <link href="../static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">让我猜猜你是谁:)</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Account"  id="accunt" name="accunt" type="accunt" autofocus>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Password" id="password" name="password" type="password" value="">
                                </div>
                                <a href="#" class="btn btn-lg btn-success btn-block" id="login_btn">Login</a>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% block scripts %}
        {{ super() }}
     <script src="../../static/js/plugin/bootbox.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
           $("#login_btn").click(function(){
               var account = $("#accunt").val();
               var password = $("#password").val();
               if(!account || !password){
                   bootbox.alert("先让我猜一下你是谁吧:)");
                   return;
               }
               var  data = {
                   "login_account":account,
                   "login_pwd":password
               };
               $.ajax({
                      type: 'POST',
                      url: '/auth/login',
                      contentType:'application/json',
                      data: JSON.stringify(data),
                      dataType: 'json',
                      success: function(result){
                         if(result.status ==0){
                             bootbox.alert("我真的猜不透你::>_<::")
                          }else{
                              window.location.href = result.data;
                          }
                      }
                    });
           });
        });
    </script>
{% endblock %}
{% endblock %}
