{%- block doc %}
<!DOCTYPE html{% block html_attribs %}{% endblock html_attribs %}>
<html lang="en" style="width:100%;height:100%">
    {%- block html %}
<head>
  {%- block head %}

  <title>{% block title %}{% endblock title %}</title>

  {%- block metas %}
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {%- endblock metas %}


  {%- block styles %}
  <link rel="stylesheet" href="../../static/css/resource/bootstrap.min.css">
  <link rel="stylesheet" href="../../static/css/resource/cloud-admin.css">
  <link rel="stylesheet" href="../../static/css/themes/default.css">
  <link rel="stylesheet" href="../../static/css/resource/responsive.css">
  <link rel="stylesheet" href="../../static/css/plugin/font-awesome/css/font-awesome.css">


  {%- endblock styles %}
      {%- endblock head %}
</head>

<body>
{%- block body %}
    <header class="navbar clearfix" id="header">
	</header>
    <body>
		<div id="main-content" class="">
            {% block main_content %}
                12345
            {% endblock main_content %}
		</div>
    </body>




  {% block scripts %}
  <script src="../../static/js/source/jquery.min.js"></script>
  <script src="../../static/js/source/bootstrap.js"></script>
  <script src="../../static/js/common.js"></script>
  <script src="../../static/js/plugin/jquery.dataTables.min.js"></script>
  <script src="../../static/js/plugin/dataTables.bootstrap.js"></script>
  <script src="../../static/js/plugin/bootbox.min.js"></script>
      <script src="../../static/js/business/index.js"></script>
  <script>

{#  add #}

  </script>
  {%- endblock scripts %}
  {%- endblock body %}
</body>
{%- endblock html %}
</html>
{% endblock doc -%}